

.landing-body .landing-banner::before {
    background: linear-gradient(45deg, #ff6a00, #ee0979, #8e2de2);
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
}

.landing-body .landing-main-image:before {
    inset-inline-start: 3rem;
}

.landing-body .landing-main-image img {
    width: auto;
    height: auto;
    margin-top: 10px;
}